
.flex-div { display: flex; flex-direction: row; height:55px; justify-content: space-between;}

.first-div { background-color: lightpink;}

.second-div { background-color: lightseagreen; margin-left: 150px; margin-right: 200px;  }

.Third-div { background-color: lightgrey; }