.side-bar { background-color: white;
position: fixed; left: 0px; bottom: 0px;
 top: 55px; width: 72px; padding-top: 5px; cursor: pointer;  }


.div-side-bar { 
   height: 54px; margin-bottom: 3px;
   transition: background-color 0.4s ;
display: flex; flex-direction: column;
justify-content: center;
align-items: center;
 }


 .div-side-bar:hover { background-color: grey;
 
}


.div-side-bar img { width: 25px;  }




.div-side-bar div { font-family: roboto; 
font-size: 8px; margin-top: 4px; }





